body {
    background-color: #001c30;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
    padding: 0.4rem 0.2rem;
    background: linear-gradient(to right, #176b87, #64ccc5);
    color: #001c30;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.2s ease;
}
.btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;
    border-radius: 0.2rem;
    background: linear-gradient(
        to right,
        rgba(118, 122, 125, 0.05),
        rgba(240, 248, 255, 0.3),
        rgba(118, 122, 125, 0.05)
    );
    top: -100%;
    left: 0;
    z-index: -1;
    opacity: 1;
    transition: all 0.5s ease;
}

.btn:hover {
    color: #0a1487;
    border: 1px solid #f86f03;
}

.btn:hover::before {
    opacity: 1;
    transform: scale(1);
    top: 100%;
}
